body {
	height: 100%;
}

h3 {
	font-size: 2em;
	text-align: center;
	font-family: 'Sunflower', sans-serif;
}
.cat {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20%;
}
.cat:active {
	transform: scale(1.25,1.25);
}