body {
	background-image: url('./img/country-quilt.png');
}

h3 {
	text-align: center;
	font-family: 'Anton', sans-serif;
}
.cat {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20%;
}
.cat:active {
	transform: scale(1.25,1.25);
}